body {
    margin: 0px;
    background-color: #EEEEEE;
}

.top {
    background-color: lightsteelblue;
    text-align: center;
    height: 150px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-top: 70px;
}

#btn {
    text-align: center;
}

.textBox {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#fieldSet {
    margin-right: 10%;
    margin-left: 10%;
}
