body {
    margin: 0px;
    background-color: #EEEEEE;
}

.top {
    background-color: lightsteelblue;
    text-align: center;
    height: 150px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-top: 70px;
}

#btn {
    text-align: center;
}

.textBox {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#fieldSet {
    margin-right: 10%;
    margin-left: 10%;
}

table {
    background-color: aliceblue;
    margin-top: 30px;
    /*auto로 하면 테이블을 중앙에 놓을 수 있다.*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid lightsteelblue;
}

td {
    height: 50px;
}

.container {

}

.card {
    border: 1px solid lightsteelblue;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card-title {
    text-align: center;
}

.card-right {
    text-align: right;
    margin-right: 20px;
}

.card-content {
    margin-left: 20px;
}

.update {
    float: right;
    margin-top: 10px;
}
