<!DOCTYPE html>
<!--이를 작성해주어야 타임리프 문법이 에러를 일으키지 않고 동작할 수 있음-->
<!--thymeleaf 템플릿 엔진 선언-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
    <div class="top">
        <h1>My Blog</h1>
    </div>
    <div id="btn">
        <!--write 버튼을 클릭하면 글을 입력하는 페이지로 이동-->
        <button id="write">글쓰기</button>
    </div>
</body>
</html>