<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="top">
        <h1>My Blog</h1>
    </div>
    <form action="/post" method="post">
        <fieldset id="fieldSet">
            <legend>⭐</legend>
            <div class="textBox"> <!--제목-->
                <label for="title">제목</label><br>
                <input type="text" id="title" name="title"><br>
            </div>

            <div class="textBox"> <!--작성자-->
                <label for="person">작성자</label><br>
                <input type="text" id="person" name="author"><br>
            </div>

            <div class="textBox"> <!--내용-->
                <label for="message">내용</label><br>
                <textarea id="message" name="content" cols="100%" rows="20"></textarea><br>
            </div>

            <input type="submit" role="button" value="Submit">
        </fieldset>
    </form>
</body>
</html>